#warningPanel h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

#confirmButton {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border: 1px solid rgb(0, 0, 255);
    border-radius: 3px;
    box-shadow: 0px 2px 4px;
    text-decoration: none;
    color: black;
    width: 100px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}

#confirmButton:hover {
    color: black;
    background-color: rgba(255, 165, 0, .6);
}

#confirmButton:active {
    box-shadow: 0px 0px 2px;
    transform: translateY(2px);
}

.sqlOutput {
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    padding: 5px;
}

.userMessage {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.userMessage a{
    margin: 10px;
}

.subNavLink a {
    margin: 10px !important;
}