/* "BUNGEE" font used for header */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

/* Import Header */
@import url('/styles/header.css');

/* Line break for flex layout */
.newLine {
    width: 100%;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.hidden {
    visibility: hidden;
}

.smallerText {
    font-size: 0.75em;
    line-height: 0.25em;
}


.backgroundImage {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15%;
    text-align: center;
    z-index: -1;
    opacity: 0.05;
}

 #body {
    background-image: linear-gradient(to right, rgba(0, 0, 255, .8), rgba(255, 165, 0, .8));
    padding-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-grow: 1;
    flex-shrink: 1;
}

/*

    CONTENT FRAME

Modifies and defines the iFrame that's holding the content shown to the user

*/

#contentFrame {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .2);
    width:100%;
    max-width: 900px;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    box-shadow: 0px 0px 2px;
}

#contentFrame h1 {
    margin: auto;
}

#contentFrame h2,h3 {
    margin: auto;
    padding-bottom: 30px;
}


/*
    STANDARD NAVIGATION

For upper/primary controls

*/

.navPanel {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 10%;
    font-weight: bold;
}

.navPanel a:hover {
    color: black;
    background-color: rgba(255, 165, 0, .6);
}

.navPanel a:active {
    box-shadow: 0px 0px 2px;
    transform: translateY(2px);
}

.navLink {
    border: 1px solid rgb(0, 0, 255);
    border-radius: 3px;
    box-shadow: 0px 2px 4px;
    text-decoration: none;
    color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 8px;
}

.dataFrame {
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto;
    padding: 0;
    border: none;
    max-width: 100%;
}


/*
    SUB-NAVIGATION

For all the things at the bottom of the page; log in/out, 'my account', etc.

*/


.subNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: small;
}

.subNavLink {
    border: 1px solid rgb(0, 0, 255);
    border-radius: 3px;
    box-shadow: 0px 2px 4px;
    text-decoration: none;
    color: black;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.subNav a {
    box-shadow: 0px 2px 4px;
}
.subNav a:hover {
    color: black;
    background-color: rgba(255, 165, 0, .6);
}
.subNav a:active {
    box-shadow: 0px 0px 2px;
    transform: translateY(2px);
}


.submitButton input[type="submit"] {
    margin: auto;
    padding: 8px 25px;
    font-size: 150%;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 255);
    box-shadow: 0px 2px 4px;
}

.submitButton input[type="submit"]:hover {
    color: black;
    background-color: rgba(255, 165, 0, .6);
}

.submitButton input[type="submit"]:active {
    box-shadow: 0px 0px 2px;
    transform: translateY(2px);
}


/* Link styling */

.plainLinkBlue {
    text-decoration: none;
    color: rgb(0, 0, 255);
}

.plainLinkBlue:hover {
    color: rgb(30, 90, 255);;
}

.plainLinkBlack {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.plainLinkBlack:hover {
    color: rgb(60, 60, 60);
}




/*
TEMPORARY
*/
#contentFrame h4 {
    margin: auto;
    padding-bottom: 15px;
    font-size: 250%;
}

#giveawayLink {
    text-decoration:none;
    color:rgb(0, 0, 255);
    -webkit-text-stroke: 1px white;
}
#giveawayLink:hover {
    color:orange;
    -webkit-text-stroke: 1px black;
}