#body {
    background-image: linear-gradient(to right, rgba(0, 0, 255, .8), rgba(255, 165, 0, .8));
    padding-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:100%
}

#contentFrame {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .2);
    width:80%;
    max-width: 900px;
    min-height: 0px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}

#contentFrame h1 {
    margin: auto;
    padding-bottom: 20px;
}

#contentFrame h2,h3 {
    margin: auto;
    padding-bottom: 30px;
}

#navPanel {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 10%;
    font-weight: bold;
}


#navPanel a:hover {
    color: black;
    background-color: rgba(255, 165, 0, .6);
}

#navPanel a:active {
    box-shadow: 0px 2px 3px;
    transform: translateY(4px) translateX(2px);
}

.navLink {
    border: 1px solid blue;
    border-radius: 3px;
    box-shadow: 2px 6px 6px;
    text-decoration: none;
    color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.dataFrame {
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto;
    padding: 0;
    border: none;
    /*border-radius: 5px;
    box-shadow: 0px 10px 15px;
    background-color: rgba(183, 183, 255, 0.6);*/
    max-width: 90%;
}

.newLine {
    width: 100%;
}


#subNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

#logoutButton {
    box-shadow: 0px 2px 4px;
    font-weight: bold;
}
#logoutButton:hover {
    color: black;
    background-color: rgba(255, 165, 0, .6);
}
#logoutButton:active {
    box-shadow: 0px 0px 2px;
    transform: translateY(2px);
}

#loginButton {
    box-shadow: 0px 2px 4px;
    font-weight: bold;
}
#loginButton:hover {
    color: black;
    background-color: rgba(255, 165, 0, .6);
}
#loginButton:active {
    box-shadow: 0px 0px 2px;
    transform: translateY(2px);
}