#createAccountPanel {
    width: 275px;
}

#createAccountBody {
    width: 275px;
}

#userForm input[type="password"] {
    margin: 2% 2%;
    width: 170px;
}
#userForm input[type="text"] {
    margin: 2% 2%;
    width: 170px;
}

#displayPassword {
    padding: 0 0 0 5px;
}

#matchingPasswords  {
    visibility: hidden !important;
    height: 0;
    width: 0;
}
#matchingPasswordsText  {
    visibility: hidden !important;
    height: 0;
    width: 0;
}